    .image {
        background: url("../../public/photos/log.jpg");
        background-size: cover;
        background-position: top;
        background: cover;
        opacity: 0.9;
    }

   
    .regimage {
        background-image: url("../../public/photos/reg1.jpg");
        background-size: cover;
        background-position: top;
        position: relative;
    }
    .alert {
        margin-top: 1rem;
        padding: 1rem;
        border: 1px solid #dc3545;
        border-radius: 0.25rem;
        background-color: #f8d7da;
        color: #721c24;
    }
    .alert-danger {
        background-color: #f8d7da;
        border-color: #f5c6cb;
        color: #721c24;
    }


    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }